<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>To-Do List - Sequelize - Editing Item</title>
</head>

<body>
    <div class="display">
        <h1>TO-DO LIST</h1>
        {{#editTodo}}
            <form class="updateTodoForm" action="/update" method="post">
                <input type="text" class="todoUpdate" name="todoItem" value="{{todoItem}}">
                <button type="submit" class="updateTodo" name="update" value={{id}}>Update</button>
            </form>
        {{/editTodo}}
        <hr class="listDivider">
        <div class="background">
            {{#todoList}}
                {{^completed}}
                    <div class="buttonsAndItem" action="">
                        <button class="editTodo" name="edit" value={{id}}>Edit</button>
                        <button class="editTodo" name="complete" value={{id}}>Mark Complete</button>
                        <h3 class="todoItem">{{todoItem}}</h3>
                        <button class="editTodo" name="remove" value={{id}}>Remove</button>
                    </div>
                {{/completed}}
            {{/todoList}}
            <hr class="listDivider">
            {{#todoList}}
                {{#completed}}
                    <h4 class="todoneItem">{{todoItem}}</h4>
                {{/completed}}
            {{/todoList}}
            <div class="deleteTodonesForm">
                <button class="deleteTodones" name="delete">Remove Completed Items</button>
            </div> 
        </div>
    </div>
</body>

</html>