<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>To-Do List - Sequelize</title>
</head>

<body>
    <div class="display">
        <h1>TO-DO LIST</h1>
        <form class="addTodoForm" action="/todolist" method="post">
            <input type="text" class="todoInput" name="todoItem" placeholder="My Next Item To Do">
            <button type="submit" class="addTodo">Add</button> <br> <br>
        </form>
        {{#todoList}}
            {{^completed}}
                <form class="buttonsAndItem" action="/editlist" method="post">
                    <button type="submit" class="editTodo" name="edit" value={{id}}>Edit</button>
                    <button type="submit" class="editTodo" name="complete" value={{id}}>Mark Complete</button>
                    <h3 class="todoItem">{{todoItem}}</h3>
                    <button type="submit" class="editTodo" name="remove" value={{id}}>Remove</button> <br> <br>
                </form>
            {{/completed}}
        {{/todoList}}
        <hr class="listDivider">
        {{#todoList}}
            {{#completed}}
                <h4 class="completedItem">{{todoItem}}</h4>
            {{/completed}}
        {{/todoList}}
    </div>
</body>

</html>