body {
  display: flex;
  justify-content: center;
}

.display {
  font-family: 'Glegoo', serif;
  text-transform: uppercase;
  width: 40vw;
  line-height: 1.9;
}

h1 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.addTodoForm,
.updateTodoForm {
  display: flex;
  align-items: center;
}

.updateTodoForm {
  border: 2px dashed black;
}

.todoInput,
.todoUpdate {
  flex: 8;
  margin: 1rem;
}

.addTodo,
.updateTodo {
  flex: 1;
  margin: 1rem;
}

.todoItem {
  margin: 0 .5rem;
}

.todoInput,
.todoUpdate,
.editTodo,
.addTodo,
.updateTodo {
  font-family: 'Glegoo', serif;
  text-transform: uppercase;
}

.buttonsAndItem {
  display: flex;
  align-items: center;
}

.editTodo {
  margin: .5rem;
}

.completedItem {
  text-decoration-line: line-through;
  margin: 0 1rem;
}

.background,
.background .editTodo {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.listDivider {
  margin: 1rem 0;
}
